<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HOME</title>
  <style>
  a
  {
      color:green;
        text-decoration: none;

  }
  
  </style>
  </head>


  <body>
 

<h1>{{title}}</h1>
{{>header}}
<p>{{date}}</p>
<h2><a href="/book">Book an Appointment </a></h2>

<h2><a href="/cancel">Cancelling an Appointment </a></h2>
<h2><a href="/update">Updating an Appointment </a></h2>

<br>
<br>
 {{>footer}}
  </body>

  </html>